Resources:
  # CloudWatch Alarm for Memory Usage
  MemoryAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Memory usage is too high"
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleUpPolicy
      MetricName: MemoryUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 80
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
        - Name: AutoScalingGroupName
          Value:
            Ref: AWSEBAutoScalingGroup

  MemoryAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Memory usage is low"
      AlarmActions:
        - Ref: AWSEBAutoScalingScaleDownPolicy
      MetricName: MemoryUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 40
      ComparisonOperator: LessThanThreshold
      Dimensions:
        - Name: AutoScalingGroupName
          Value:
            Ref: AWSEBAutoScalingGroup

option_settings:
  # Enable detailed monitoring for memory metrics
  aws:autoscaling:launchconfiguration:
    MonitoringInterval: "1 minute"